*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;

}

/* Aplica estilo diferente quando a tela tiver 600 pixels ou menos*/
@media(min-width : 600px){
    body{
        background-color: blueviolet;
    }
}

header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

header a{
    color: white;
    text-decoration: none;
}

@media(max-width : 600px){
    header nav{
        display: none;
    }
    header{
        flex-direction: column;
        justify-content: center;
    }                   

}    

@media(min-width:1025){
    .show{
        display: none;
    }

    header{
        display: none;
    }

}
